@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color: #008080;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

#taskBar #windowButton, #startMenu, #contentWindowTitleBar #titleBarButtonGroup li {
  border-top: 2px solid #E4E4E4;
  border-left: 2px solid #E4E4E4;
  border-right: 2px solid #A0A0A0;
  border-bottom: 2px solid #A0A0A0; }

#taskBar #systemTray, #content, #contentWindowStatusBar {
  border-top: 2px solid #A0A0A0;
  border-left: 2px solid #A0A0A0;
  border-right: 2px solid #E4E4E4;
  border-bottom: 2px solid #E4E4E4; }

.effect3dOut {
  border-top: 2px solid #E4E4E4;
  border-left: 2px solid #E4E4E4;
  border-right: 2px solid #A0A0A0;
  border-bottom: 2px solid #A0A0A0; }

.effect3dIn {
  border-top: 2px solid #A0A0A0;
  border-left: 2px solid #A0A0A0;
  border-right: 2px solid #E4E4E4;
  border-bottom: 2px solid #E4E4E4; }

.desktopIcon {
  width: 120px;
  height: 100px;
  position: fixed;
  left: 1em;
  z-index: -2;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .desktopIcon span {
    display: block;
    color: #fff;
    margin-top: 4px; }

#myComputerIcon {
  top: 1em; }

#recycleBinIcon {
  top: calc(1em + 120px); }

.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/startupBackground.png) center no-repeat #7BB5DE;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .se-pre-con img {
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 640px) {
      .se-pre-con img {
        width: 60vw;
        height: auto; } }

#taskBar {
  background-color: #C0C0C0;
  border-top: 2px solid #E4E4E4;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40px;
  display: flex;
  align-items: center; }
  #taskBar a {
    text-decoration: none; }
  #taskBar #startButton {
    display: flex;
    align-items: center;
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    color: #020202;
    font-weight: bold; }
    #taskBar #startButton img {
      padding-right: 6px; }
  #taskBar #windowButton {
    display: flex;
    align-items: center;
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    max-width: 140px;
    color: #020202; }
  #taskBar #systemTray {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0.4rem; }
    #taskBar #systemTray #clock {
      padding: 0.2rem 0.4rem; }

#startMenu {
  position: absolute;
  bottom: 42px;
  background-color: #C0C0C0;
  min-width: 280px;
  z-index: 2;
  display: flex; }
  #startMenu #startMenuItems {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; }
    #startMenu #startMenuItems li a {
      display: block;
      padding: 0.6rem;
      color: #020202; }
      #startMenu #startMenuItems li a:hover {
        background-color: #010080;
        color: #fff;
        transition: 0.2s; }

#startMenuBanner {
  background-color: #010489;
  background: linear-gradient(180deg, #010489, #0e84ca);
  padding: 0.4rem;
  padding-bottom: 60px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin: 0;
  color: #fff;
  writing-mode: vertical-rl;
  transform: rotate(180deg); }

#contentWindow {
  width: 100vw;
  background-color: #C0C0C0;
  height: calc(100vh - 42px);
  z-index: -1; }
  @media only screen and (min-width: 640px) {
    #contentWindow {
      margin: 2em auto;
      width: 70vw;
      height: inherit;
      border-top: 2px solid #E4E4E4;
      border-left: 2px solid #E4E4E4;
      border-right: 2px solid #A0A0A0;
      border-bottom: 2px solid #A0A0A0; } }

#contentWindowTitleBar {
  background-color: #010489;
  background: linear-gradient(90deg, #010489, #0e84ca);
  margin: 0;
  padding: 2px;
  color: #fff;
  font-weight: bold;
  height: 20px;
  display: flex;
  align-items: center; }
  #contentWindowTitleBar #windowIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px; }
  #contentWindowTitleBar #windowTitle {
    flex-grow: 1; }
  #contentWindowTitleBar #titleBarButtonGroup {
    display: flex;
    list-style: none; }
    #contentWindowTitleBar #titleBarButtonGroup li {
      background-color: #C0C0C0;
      width: 16px;
      height: 16px; }

#windowMinimise {
  background: url(../img/uiElements/minimise.png) center no-repeat; }

#windowMaximise {
  background: url(../img/uiElements/maximise.png) center no-repeat; }

#windowClose {
  background: url(../img/uiElements/close.png) center no-repeat; }

.windowRestore {
  background: url(../img/uiElements/restore.png) center no-repeat #C0C0C0 !important; }

#contentWindowMenuBar {
  margin: 4px;
  padding: 0;
  display: flex;
  list-style: none; }
  #contentWindowMenuBar li {
    padding: 0px 4px; }
  #contentWindowMenuBar li::first-letter {
    text-decoration: underline; }

#content {
  background-color: #fff;
  overflow-y: scroll;
  padding: 1em;
  margin: 2px;
  height: calc(100vh - 130px); }
  @media only screen and (min-width: 640px) {
    #content {
      padding: 1em 3em;
      max-height: 70vh;
      overflow-y: scroll; } }

#contentWindowStatusBar {
  font-size: 0.8em;
  padding: 2px;
  padding-left: 6px;
  display: none; }
  @media only screen and (min-width: 640px) {
    #contentWindowStatusBar {
      display: block; } }

#content::-webkit-scrollbar-track {
  background-color: #E4E4E4; }

#content::-webkit-scrollbar {
  width: 18px;
  background-color: #E4E4E4; }

#content::-webkit-scrollbar-thumb {
  background-color: #C0C0C0;
  border-top: 2px solid #E4E4E4;
  border-left: 2px solid #E4E4E4;
  border-right: 2px solid #A0A0A0;
  border-bottom: 2px solid #A0A0A0; }

#content::-webkit-scrollbar-button {
  background-color: #C0C0C0;
  height: 18px;
  width: 18px;
  border-top: 2px solid #E4E4E4;
  border-left: 2px solid #E4E4E4;
  border-right: 2px solid #A0A0A0;
  border-bottom: 2px solid #A0A0A0; }

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../img/uiElements/arrow-down.png);
  background-repeat: no-repeat;
  background-position: center; }

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../img/uiElements/arrow-up.png);
  background-repeat: no-repeat;
  background-position: center; }

.maximiseWindow {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  width: 100vw !important;
  height: calc(100vh - 42px) !important;
  border: 0 !important; }

.maximiseContent {
  padding: 2rem 10rem !important;
  max-height: calc(100vh - 160px) !important; }

/*# sourceMappingURL=styles.css.map */
